@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/ecritureattachee/Shrikhand-Regular.eot');
    src: url('../fonts/ecritureattachee/Shrikhand-Regular.eot') format('embedded-opentype'),
        url('../fonts/ecritureattachee/Shrikhand-Regular.woff2') format('woff2'),
        url('../fonts/ecritureattachee/Shrikhand-Regular.woff') format('woff'),
        url('../fonts/ecritureattachee/Shrikhand-Regular.ttf') format('truetype'),
        url('../fonts/ecritureattachee/Shrikhand-Regular.svg') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Calibri';
    src: url('Calibri.eot');
    src: url('../fonts/Calibri/Calibri.eot') format('embedded-opentype'),
        url('../fonts/Calibri/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri/Calibri.woff') format('woff'),
        url('../fonts/Calibri/Calibri.ttf') format('truetype'),
        url('../fonts/Calibri/Calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*début header*/
header
{
    display: flex;
    flex-direction: row;
    
}
header img
{
    margin-left: 430px;
}
.coeurplein
{
    position: relative;
    background: -webkit-linear-gradient(90deg,#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
}
.coeurvide
{
    position: absolute;
    transition: opacity 1s;
}
.coeurplein:hover
{
    opacity: 1;
}
.coeurvide:hover
{
    opacity: 0;
}
/*fin header*/
/*début block1*/
#block1
{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px; left: 0px;

}
#block1 img
{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

/*fin block1*/
/*début block2*/
#block2
{
    display: flex;
    flex-direction: column;
    border: 2px none solid;
    margin-right: auto;
    margin-left: auto;
    width: 749px;
    border-radius: 25px 25px 0px 0px;
    background-color: #f6f6f6;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#block21
{
    display: flex;
    flex-direction: column;
    border: 2px none solid;
    margin-right: auto;
    margin-left: auto;
    width: 749px;
    border-radius: 25px 25px 0px 0px;
    background-color: #f6f6f6;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#solution
{
    position: relative;
}
#block2A
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: 'Shrikhand' ;
    font-weight: normal;
   
}

#block2A i
{
    margin-left: 15px;
    margin-top: 50px;
    color: black;
}

/*fin block2*/
/*début block3*/

span
{
    text-decoration: underline #99E2D0;
}
#block3
{
    display: flex;
    flex-direction: column;
    border: none 2px solid;
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f6f6f6;
    margin-top: 45px;
    font-family: 'Calibri';  
}
#block3 p
{
    font-size: 20px;
}
h2
{
    margin-left: 65px;
    font-size: 25px;
    font-weight: normal;
}


#entreeA, #entreeB, #entreeC,#entreeD, #platA, #platB, #platC, #dessertA, #dessertB, #dessertC
{
    display: flex;
    flex-direction: row;
    border: 2px none solid;
    border-radius: 25px 25px 25px 25px ;
    box-shadow: #e9e9e9 5px 5px;
    background-color: white;
    width: 650px;
    margin: auto;
    height: 100px;
    margin-bottom: 15px;
}
.INTITULE
{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 100px;
    margin-left: 10px;
}
.INTITULE:hover
{
    width: 642px ;
    height: 100px;
}
.INTITULE:hover .check i
{
    animation: rotate 2s ease;
    opacity: 1;
}
.check
{
 padding: 40px 25px 10px 25px;
 width: 0px;
 border-radius: 0px 25px 25px 0px;
 opacity: 0;
 display: flex;
 flex-direction: row;
 text-align: end;
 background-color: #99E2D0;
 transition: slideout 1s ease-in-out;
 margin-left: 0px;
 
}
.INTITULE:hover .check 
{
    animation: slide 1s ease-in-out;
    opacity: 1;
    animation-fill-mode: both;  
}

.check i
{
    color: white;
}
@keyframes rotate {
    from {
        
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes slide {
    from {
        transform: translateX(O);
        opacity: 0;
        margin-left: 0px;
        background-color: none;
        width: 0;
        
    }
    to  {
        transform: translateX(-2px);
        opacity: 1;
        margin-left: 70px;
        background-color: #99E2D0;
        width: 130px;
    }
}


.INTITULE h3
{
   margin-bottom: 2px;
   margin-top: 5px;
}
.INTITULE p
{
    margin-top: 2px;
    margin-bottom: 2px; 
}
.test
{
    width: 500px; 
}

.COUT
{
    margin-top: 50px;
    font-size: 25px;
    width: 70px;   
}
#entree p
{
    padding-top: 10px;
}
h3
{
    padding-bottom: 10px;
    font-size: 25px;
}
/*fin block3*/
/*début commander*/
#commander
{
    
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    background:linear-gradient(70deg, #FF79DA , #9356DC);
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 5px 10px 5px 10px;
    font-family: 'Calibri';  
    
    
}
/*fin commander*/


/* début footer*/
footer
{
    display: flex;
    flex-direction: row;
    background-color: #353535;
    color: white;
    justify-content: space-around;
    font-family: 'Calibri'; 
    align-items: center; 
}
footer img
{
    width:100px;
    margin-top: 15px;
}
#A
{
    display: flex;
    flex-direction: row;
}
#A i
{
    margin-top: 17px;
    margin-right: 5px;
}
#B
{
    display: flex;
    flex-direction: row;
}
#B i
{
    margin-top: 17px;
    margin-right: 5px;
}
#D a
{
    color: white;
    text-decoration: none;
    margin-top: auto;
    justify-content: center;
}
/* fin footer*/
/*animation*/
@keyframes apparition {
    0% {
      opacity: 0;
      margin-top: 60px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }
  #entreeA
  {
      animation-name: apparition;
      animation-duration: 2s;
  }
  #entreeB
  {
      animation-name: apparition;
      animation-duration: 4s;
  }
  #entreeC
  {
    animation-name: apparition;
    animation-duration: 6s;
  }
  #entreeD
  {
    animation-name: apparition;
    animation-duration: 8s;
  }
  #platA
  {
    animation-name: apparition;
    animation-duration: 10s;
  }
  #platB
  {
    animation-name: apparition;
    animation-duration: 12s;
  }
  #platC
  {
    animation-name: apparition;
    animation-duration: 14s;
  }
  #dessertA
  {
    animation-name: apparition;
    animation-duration: 16s;
  }
  #dessertB
  {
    animation-name: apparition;
    animation-duration: 18s;
  }
  #dessertC
  {
    animation-name: apparition;
    animation-duration: 20s;
  }
  
/*---------------------------------------------------------------------------------------*/
@media all and (max-width: 680px)
{

    body 
    {
        display: flex;
        flex-direction: column;
        width: 377px;
        margin-left: auto;
        margin-right: auto;
    }
    /*début header*/
    header
    {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        
    }
    header img
    {
       
        width: 160px;
        margin-top: 20px;
        margin-bottom: 12px ;
        margin-right: auto;
        margin-left: auto;
    }
    header i
    {
        margin-top: 15px;
        color: black;
        position: absolute;
        margin-left:-70px;
        
    }
        .coeurplein
    {
        position: relative;
        background: -webkit-linear-gradient(90deg,#FF79DA, #9356DC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;;
        opacity: 0;
        transition: opacity 1s;
        cursor: pointer;
        margin-top: -10px;
    }
    .coeurvide
    {
        position: absolute;
        transition: opacity 1s;
        margin-top: -10px;
        
    }
    .coeurplein:hover
    {
        opacity: 1;
    }
    .coeurvide:hover
    {
        opacity: 0;
    }
    /*fin header*/
    #block1
    {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0px; left: 0px;

    }
    #block1 img
    {
        width: 377px;
        margin-left: auto;
        margin-right: auto;
    }

    /*fin block1*/
    /*début block2*/
    #block2
    {
        display: flex;
        flex-direction: column;
        border: 2px none solid;
        margin-right: auto;
        margin-left: auto;
        width: 377px;
        border-radius: 25px 25px 0px 0px;
        background-color: #f6f6f6;
        position: absolute;
        top: 280px; left: 190px;

    }
    #block21
    {
        display: flex;
        flex-direction: column;
        border: 2px none solid;
        margin-right: auto;
        margin-left: auto;
        width: 377px;
        border-radius: 25px 25px 0px 0px;
        background-color: #f6f6f6;
        position: absolute;
        top: 105%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


  
    #block2A
    {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        font-family: 'Shrikhand' ;
        font-weight: normal;
        width: 385px;
    
    }
    
    #block2A i
    {
        margin-left: 25px;
        margin-top: 40px;
    }
    h1 
    {
        margin-left: 10px;
    }
    /*fin block2*/
    /*début block3*/
   
    .pointdesuspension p, h3
        {
        border: 1px solid none;
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
         }
    .overflow-ellipsis 
        {
        text-overflow: ellipsis;
        }
    .ltr > p 
        {
        direction: ltr;
        }
    .INTITULE:hover .NOMDUPLAT
    {
        width: 60%;
    }
    .INTITULE:hover .DESCRIPTION
    {
        width: 60%;
    }
   
    
    #block3
    {
        display: flex;
        flex-direction: column;
        border: none 2px solid;
        width: 377px;
        margin-right: auto;
        margin-left: auto;
        background-color: #f6f6f6;
        margin-top: 60px;
        font-family: 'Calibri';  
    }
    #block3 p
    {
        font-size: 15px;
    }
    h2
    {
        margin-left: 25px;
        font-size: 25px;
        font-weight: normal;
    }
    
    #entree p
    {
        padding-top: 10px;
    }
    h3
    {
        padding-bottom: 10px;
        font-size: 18px;
    }
    /*fin block3*/
    #commander
    {
        
        width: 185px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 60px;
        background:linear-gradient(70deg, #FF79DA , #9356DC);
        color: white;
        font-size: 25px;
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 5px 48px 5px 30px;
        font-family: 'Calibri';  
        
        
    }
    /*fin commander*/
    /* début footer*/
    footer
    {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
        justify-items:baseline;
        align-items: flex-start;
        height: 200px;
        
    }
    footer p
    {
        overflow:visible
    }
    footer img
    {
        width:95px;
        margin-top: 25px;
        padding-bottom: 0px;
        margin-left: 15px;
    }
    #A
    {
        display: flex;
        flex-direction: row;
        margin-left: 5px;
        height: 0px;
        margin-top: -30px;
    }

    #A i
    {
        margin-left: 15px;
        margin-right: 5px;
        padding-top: 2px ;
    }

    #B
    {
        display: flex;
        flex-direction: row;
        height: 0px;
    }
    #B i
    {
        padding-top: 2px ;
        margin-right: 5px;
        margin-left: 15px;
    }
    #D a
    {
        color: white;
        text-decoration: none;
        margin-top: auto;
        justify-content: center;
    }
    #C
    {
        margin-left: 20px;
        height: 0px;
        padding-top: 0px;
        margin-bottom: 5px;  
    }
    #D
    {
        margin-left: 20px;
        height: 0px;
        margin-bottom: 20px;
    }
    /* fin footer*/
    #entreeA, #entreeB, #entreeC,#entreeD, #platA, #platB, #platC, #dessertA, #dessertB, #dessertC
{
    display: flex;
    flex-direction: row;
    border: 2px none solid;
    border-radius: 25px 25px 25px 25px ;
    box-shadow: #e9e9e9 5px 5px;
    background-color: white;
    width: 370px;
    margin: auto;
    height: 100px;
    margin-bottom: 15px;
}
.INTITULE
{
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 100px;
    margin-left: 10px;
}
.INTITULE:hover
{
    width: 368px ;
    height: 100px;
}
.INTITULE:hover .check i
{
    animation: rotate 2s ease;
    opacity: 1;
}
.check
{
 padding: 40px 25px 10px 25px;
 
 border-radius: 0px 25px 25px 0px;
 opacity: 0;
 display: flex;
 flex-direction: row;
 text-align: end;
 background-color: #99E2D0;
 transition: slideout 1s ease-in-out;
 
 
}
.INTITULE:hover .check 
{
    animation: slide in ;
    opacity: 1;
    animation-fill-mode: forwards; 
    
}

.check i
{
    color: white;
}
@keyframes rotate {
    from {
        
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes slide{
    from {
        transform: translateX(O);
        opacity: 0;
        margin-left: 0px;
        background-color: none;
        width: 0;
        
    }
    to  {
        transform: translateX(-2px);
        opacity: 1;
        margin-left: 20px;
        background-color: #99E2D0;
        width: 110px;
    }
}

    

.INTITULE h3
{
   margin-bottom: 2px;
   margin-top: 5px;
}
.INTITULE p
{
    margin-top: 2px;
    margin-bottom: 2px; 
}
.test
{
    width: 500px; 
}

.COUT
{
    margin-top: 50px;
    font-size: 25px;
    width: 40px;   
}
#entree p
{
    padding-top: 10px;
}

}
  


